.login-page{
    background-color: #f1f1f1;
    width: 100%;
    min-height: 100vh;
    box-sizing: border-box;
    padding-top: 5%;
}

.card-login{
    background-color: white;
    min-width: 400px;
    width: 30%;
    display: block;
    margin: 0px auto;
    padding: 1%;
    box-shadow: 0px 0px 5px -2px #999;
    border-radius: 3px;
}

.logo-img{
    width: 40%;
    margin: 0px auto;
    display: block;
}

.input-login{
    width: 100%;
    padding: 8px;
    font-size: 1em;
    margin: 5px 0px;
    box-sizing: border-box;
    border: solid 1px #f1f1f1;
}

h3{
    color: #666;
    text-align: center;
    margin: 20px 0px 10px 0px;
}

label{
    font-size: 0.8em;
    padding-left: 5px;
}

.recordar{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    margin-top: 10px;
}

.boton-iniciar-sesion{
    width: 100%;
    padding: 10px;
    margin-top: 15px;
    background-color: pink;
    border: none;
    color: white;
    font-size: medium;
    border-radius: 3px;
    cursor: pointer;
}